@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
    
  


}
/* common class */
.btn{
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 2px 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 2px;
    margin-right: 10px;

}
.paragraph{
    color:#ffffffab }
    .bigsizefont{
        color: rgba(255, 255, 255, 1);
font-family: Inter;
font-style: Extra bold;
font-size: 25px;
font-weight: 800;
/* line-height: 73px; */
letter-spacing: 0%;
    }

    /* card common */
    .card-h3{
        color: white;
        font-weight: 600;
    }
    .card-img{
        width: 5%;
    }

/* header section */
.header{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 20px;
    background-color: rgba(145, 0, 248, 1);
     background-image: url(../assets/hero-bg.png);
     background-size: cover;
    height:100%;
    width: 100%;    
}
.navbar{
    border: 1px solid blue;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;

}
.navbar>h2{
    color: white;
    font-size: larger;
    font-weight: 600;
    align-self: center;
}
.wave{
    background:linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
.nav-ul{
    display: flex;
    gap: 25px;
    align-items: center;
    
}
/* banner  */
.section-1{
   
    
}
.section1-div1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section1-img1{

    width: 250px;
     position: absolute;
    
     top: 120px;
     right:45%;
     
    
  left: 50%;
  transform:translateX(-50%)
}
.section1-img2{
    position: absolute;
    width: 100px;
    
    top: 180px;
    right:50%;
    
  left: 50%;
  transform:translateX(-50%)
}


.section1-div2{
    
    
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 15px;

    
   

}


.flexbtn{
    display: flex;
    gap: 15px;
}
.btn-2{
    border: 1px solid rgb(5, 202, 5);
    background-color: transparent;
    border-radius: 20px;
    padding: 20px;
    color: rgb(2, 196, 2);
}
.section1-div3{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 15px;
   margin-top: 250px;
   
}
.section1-div4{
    margin-top: 15px;
    border-top: 1px solid blue;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 1000px;
    margin-left: 200px;
}
.greenbig{
    color: #00ff88b6;
}
main{
    background-color:rgb(27, 3, 44);
    margin-left: 15px;
    margin-right: 20px;
}
main>section{
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 20px;
    background-color: rgb(27, 3, 44);
     background-size: cover;
    height:100%;
    width: 100%;    

}
/* why chose techwave */
.main-section1>h1{
    padding-left: 500px;
    padding-top: 30px;
}
.box-container{
    max-width: 80%;
    margin: 50px auto;
    min-height: 300px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.box-1{
    grid-row: 1/span 2;
    padding: 5px;
    border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
padding: 20px;

    
    
}
.box-2{
    grid-column: 2/sapn 2;
    border-radius: 3px;
    border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
padding: 30px;

}
.box-3{
    grid-column: 2/span 2;
    border-radius: 3px;
    border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
padding: 20px;
}
.box-4{
    grid-column: 1/span 2 ;
    border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
padding: 20px;

}
.box-5{
    border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
padding: 20px;

}
/* card section */
.main-section-2>h1{
    padding-left: 500px;
    
}
.card-h2{
    font-weight: 600;
    color: white;
}
.card-container{
    display: flex;
    
    gap: 20px;
    /* border: 1px solid red; */
    padding-left: 155px;
    padding-right: 30px;
    padding-top: 15px;

}
.card-1{
    width: 300px;
    background-color: rgba(0, 0, 255, 0.267);
    border-radius: 1%;
    border: 1px solid rgba(137, 43, 226, 0.548);
    margin-bottom: 10px;

}
.card-2{
    width: 300px;
    background-color: rgba(0, 0, 255, 0.267);
    border-radius: 1%;
    border: 1px solid rgba(137, 43, 226, 0.548);
     margin-bottom: 10px;


}
.card-3{
    width: 300px;
    background-color: rgba(0, 0, 255, 0.267);
    border-radius: 1%;
    border: 1px solid rgba(137, 43, 226, 0.548);
     margin-bottom: 10px;


}
.card-1 iframe h2 p {
    width: 120px;
    height: 180px;
    background-color: blue;

}
.card-2 iframe h2 p {
    width: 120px;
    height: 200px;
    gap: 20px;
}
.card-3 iframe h2 p{
    width: 120px;
    height: 180px;
}
footer{
    background-image: url("../assets/footer-bg.png");
    background-position: 100%;
    

}
.footer-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-media{
    padding-left: 150px;
    
}
.social-media .paragraph img{
    display: flex;
}
.footer-div .bigsizefont {
    padding-left: 600px;
}
.footer-div .paragraph{
    padding-left: 460px;
    border-top: 1px solid rgb(95, 85, 104);
}
