@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;


}
/* common class */
.btn{
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 10px;
    border-radius: 5px;

}
.paragraph{
    color:#ffffffab }
    .bigsizefont{
        color: rgba(255, 255, 255, 1);
font-family: Inter;
font-style: Extra Bold;
font-size: 60px;
font-weight: 800;
line-height: 73px;
letter-spacing: 0%;
    }
/* header section */
.header{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(145, 0, 248, 1);
}
.navbar{
    border: 1px solid blue;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;

}
.navbar>h2{
    color: white;
    font-size: larger;
    font-weight: 600;
    align-self: center;
}
.wave{
    background:linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
.nav-ul{
    display: flex;
    gap: 25px;
    align-items: center;
    
}
/* banner  */
.section-1{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    height: 760px;
}

.section1-div2{
    
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 15px;
}
.flexbtn{
    display: flex;
    gap: 15px;
}
.btn-2{
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    padding: 20px;
}
.section1-div3{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 15px;
}
.section1-div4{
    margin-top: 15px;
    border-top: 1px solid blue;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 1000px;
}
.greenbig{
    color: #00ff88b6;
}